@model QuartoModel

<form asp-controller="Quartos" asp-action="Criar">
    <div class="mb-3">
        <label for="numQuarto" class="form-label">Numero do quarto:</label>
        <input type="text" asp-for="NumQuarto" required class="form-control" placeholder="Insira o numero do quarto" />
    </div>
    <br />
    <input type="hidden" asp-for="Status" value="false" />
    <input type="hidden" asp-for="DataIn" value="@String.Format("{0:d}", System.DateTime.Now)" />
    <input type="hidden" asp-for="DataOut" value="@String.Format("{0:d}", System.DateTime.Now)" />
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
