@model HomeModel

@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome</h1>
    <p>Hello World!</p>
    <span>Seu email é @Model.Email</span>
</div>
